/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", system-ui, sans-serif;
    background: #05070d;
    color: #fff;
}

/* WELCOME SECTION */
.welcome-section {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: radial-gradient(circle at top, #0f172a, #020617);
}

.welcome-container {
    position: relative;
    max-width: 900px;
    padding: 0 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

/* BADGE */
.welcome-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
    padding: 6px 16px;
    font-size: 14px;
    width: fit-content;
    border-radius: 999px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(6px);
    color: #c7d2fe;
    cursor: pointer;
}

/* TITLE */
.welcome-title {
    font-size: clamp(2.2rem, 5vw, 4rem);
    line-height: 1.15;
    font-weight: 700;
}

.welcome-title span {
    color: #6366f1;
}

/* DESCRIPTION */
.welcome-desc {
    margin: 24px auto 0;
    max-width: 620px;
    font-size: 18px;
    line-height: 1.6;
    color: #94a3b8;
}

/* BUTTONS */
.welcome-actions {
    margin-top: 40px;
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;

}

.btn {
    padding: 14px 28px;
    border-radius: 10px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease;
    opacity: 0;
}

.btn.primary {
    background: #6366f1;
    color: #fff;
}

.btn.primary:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 30px rgba(99, 102, 241, 0.35);
}

.btn.secondary {
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
}

.btn.secondary:hover {
    background: rgba(255, 255, 255, 0.08);
}

/* BLOBS */
.blob {
    position: absolute;
    width: 420px;
    height: 420px;
    border-radius: 50%;
    filter: blur(140px);
    opacity: 0.35;
    z-index: 1;
}

.blob-one {
    background: #6366f1;
    top: -120px;
    left: -120px;
}

.blob-two {
    background: #22d3ee;
    bottom: -150px;
    right: -150px;
}